<h1>Editing Departamento</h1>

<%= render 'form', departamento: @departamento %>

<%= link_to 'Ver Produtos', @departamento, class: "btn btn-default" %> |
<%= link_to 'Voltar', departamentos_path, class: "btn btn-default" %>
